<h2><%= @bingo_card.name %></h2>

<p>Columns: <%= @bingo_card.columns %></p>
<p>Rows: <%= @bingo_card.rows %></p>
<p>Start: <%= @bingo_card.start_date %></p>
<p>End: <%= @bingo_card.end_date %></p>
<p>Status: <%= @bingo_card.status.titleize %></p>